<!DOCTYPE html>
<html>
<head>
  <title>GiroCheckout</title>
  <%= stylesheet_link_tag    "giro_checkout/application", :media => "all" %>
  <%= javascript_include_tag "giro_checkout/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
