#Todo international
<%= form_tag("path", :method => :post) %>
  <div id="BIC_field" class="field">
    <label for="BICInput">BIC</label>
    <input type="text" id="BIC_input" name="BICInput"/>
  </div>
  <div class="actions">
    <%= submit_tag "Status anfragen" %>
  </div>
<% end %>
